
.input-data{
    margin-bottom: 20px;
}

.margin-top{
    margin-top: 20px;
}

.text-right{
    text-align: right;
}

/* aplica a cor verde na lista dos dados cadastrados e braca ao passar o mouse sobre a linha */
.green-row{
    background-color: #a7f8bb;
    margin-bottom: 5px;
}

.green-row:hover{
    background-color: #ffffff;
}

/* 
aplica a cor vermelha na linha de alerta de delete  e
aplica um espaçamento interno para ficar mais visivel
*/
.red-row{
    background-color: #ee9398;
    margin-bottom: 5px;
}

.height-row{
    padding: 20px;
}

/* retira o fundo e a borda dos botões de edit e delete */
.btn-clean{
    background: transparent;
    border: none;
}

/* aplicações para o icone de pesquisa por nome */
.icons{
    font-size: 25px;
    margin-left: 10px;
}

.icons:hover{
    cursor: pointer;
    font-size: 25px;
}

